@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jaro';
}

/* secao cabecalho*/
.cabecalho {
    background-color: #000c50;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    border-bottom: 2px solid #ffff00b2;
    font-family: 'Seaweed Script';
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 30px;
}

.cabecalho-lista-item:hover{
    display: inline-block;
    margin: 0 16px;
    font-size: 30px;
    font-weight: bold;
}
/* secao sobre nos*/
.sobre-o-sul{
    background-image: linear-gradient(#090050,#a8b4d21f);
    color:#FFFFFF;
    display: flex;
    justify-content: center;
    padding: 50px;
    border-bottom: 2px solid #ffff00b2;
}

.sobre-o-suldiv-conteudo{
    width: 650px;
}
.sobre-o-sul-titulo{
    padding: 45px 0;
    text-align: center;
    font-size: 45px;
}

.sobre-o-sul-paragrafo{
    font-size: 25px;
}

.sobre-o-sul-imagem{
    width: 25%;
}

/* secao lojas*/
.estados{
    background-color: #a9a9a9;
}

.estado-titulo{
color: #3B0050;
text-align: center;
padding: 50px;
font-size: 45px;
}

.todosestados-div{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.estado{
    text-align: center;
   
}

.estado-img{
    width: 20px;
}
.estado-nome{
    font-weight: 100;
    text-decoration: underline;
    color: #FFFFFF;
}
.estado-nome:hover{
    font-weight: 100;
    text-decoration: underline;
    color: orange;
}
.estado-icone{
    width: 30px;
    padding: 5px 0 10px 0;
}
.estado-icone:hover{
    width: 35px;
    padding: 5px 0;
}

.rodape{
    background-color: black;
    text-align: center;
    padding: 50px;
    border-top: 2px solid #ffff00b2;
}

.rodape-titulo{
    font-size: 25px;
    font-weight: bold;
    color: #ffff00b2;
}

.rodape-imagem{
    width: 100px;
    filter: invert();
}